{% extends 'blog/base.html' %}

{% block title %}

    <title>delete Your Post </title>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Delete Your Data</h1>

<br><br>

<h3>Delete:{{ post.title }} </h3>
<p>{{ post.body|safe }}</p>
    
<div class="form-group">

    <form action="" method="post">
        {% csrf_token %}
        <br>
        <button class="btn btn-secondary">Delete Post!</button>
        <a href="{% url 'Home' %}" class="btn btn-secondary">Cancel</a>

    </form>

</div>   

{% else %}
    <center><h1>You're Not Allowed To Enter In This Webpage OR In This URL </h1></center>

{% endif %}

{% endblock %}
